{% extends 'base.html' %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'myapp/ls_book.css' %}">
{% endblock %}
{% block title %}
本の一覧
{% endblock %}

{% block body %}
<div class='main'>
	<h1>本の一覧</h1>
	<div class="main_contents">
		<form action="" name="ls" method="GET">
			<table>
			<tr>
				<th>番号</th>
				<th>本の名前</th>
				<th>ISBNなど</th>
			</tr>
			{% for dat in book_qs %}
			<tr>
				<td>{{ dat.id }}</td>
				<td>{{ dat.Book_ISBN.Title_name }}</td>
				<td>{{ dat.Book_ISBN.Title_ISBN}}</td>
			</tr>

			{% endfor %}
			</table>
			{% csrf_token %}
		</form>
	</div>
</div>
{% endblock %}